<% if (locals.error) { %>
    <p class="error"><%= error %></p>
<% } %> 
<form action="/games/<%= product._id %>/update?_method=PATCH" method="POST" class="add-game-form">
    <h1 class="add-game-form__title">Update Game</h1>
    <div class="form-group">
        <label for="title" class="form-group__label">Title</label>
        <input type="text" class="form-group__input" id="title" name="title" value="<%= product.title %>" required>
    </div>
    <div class="form-group">
        <label for="genre" class="form-group__label">Genre</label>
        <select name="genre" id="genre" class="form-group__select" required>
            <option value="action" <%= product.genre === "action" ? "selected" : "" %>>Action</option>
            <option value="adventure" <%= product.genre === "adventure" ? "selected" : "" %>>Adventure</option>
            <option value="rpg" <%= product.genre === "rpg" ? "selected" : "" %>>RPG</option>
            <option value="sports" <%= product.genre === "sports" ? "selected" : "" %>>Sports</option>
        </select>
    </div>
    <div class="form-group">
        <label for="price" class="form-group__label">Price</label>
        <input type="number" class="form-group__input" id="price" name="price" value="<%= product.price %>" required>
    </div>
    <div class="form-group">
        <label for="description" class="form-group__label">Description</label>
        <textarea name="description" id="description" cols="30" rows="10" class="form-group__textarea" required><%= product.description %></textarea>
    </div>
    <div class="form-group">
        <label for="img_path" class="form-group__label">Image URL</label>
        <input type="text" class="form-group__input" id="img_path" name="img_path" value="<%= product.img_path %>" required>
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="form__submit" type="submit">
        <span class="user-card__form-submit__span">Submit</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path class="icon-arrow" d="M18.59 13H3a1 1 0 0 1 0-2h15.59l-5.3-5.3a1 1 0 1 1 1.42-1.4l7 7a1 1 0 0 1 0 1.4l-7 7a1 1 0 0 1-1.42-1.4l5.3-5.3z"/>
        </svg>
    </button>
</form>