<h1>Profile Page</h1>

<% if (locals.error) { %>
    <p class="error"><%= error %></p>
<% } %> 

<% if (locals.user) { %>
    <h2>Welcome back, <%= locals.user.first_name %>!</h2>
<% } %>

<% orders.forEach(order => { %>
    <h2>Order Details</h2>
    <p>Created on <%= order.dateFormatted %></p>
    <ul>
        <% order.items.forEach(item => { %>
            <li>
                <span>$<%= item.price %></span>
                <span><%= item.item.title %></span>
                <span>Qty <%= item.qty %></span>
            </li>
        <% }); %> 
    </ul>
    <p>Total Order Price $<%= order.cart.totalPrice %></p>
<% }); %>