<%- include("../partials/hero") %>

<% if (locals.error) { %>
    <p class="error"><%= locals.error %></p>
<% } %>

<main class="main--game">
    <%- include("../partials/sidebar", { genre }) %>
    <section class="game-section">
        <h2 class="game-section__title"><%= genre %></h2>
        <div class="game-grid">
            <% products.forEach((product, gridItemIndex) => { %>
                <%- include("../partials/game-grid-item", { product, gridItemIndex }) %> 
            <% }); %>
        </div>
        <section class="pagination">
            <% if (locals.hasPrevPage) { %>
                <a href="?page=<%= prevPage %>" class="pagination__link underline--indigo">Prev</a>
            <% } %>
            <% if (locals.hasNextPage) { %>
                <a href="?page=<%= nextPage %>" class="pagination__link underline--indigo">Next</a>
            <% } %> 
        </section>
        <%- include("../partials/floating-action-btn.ejs") %> 
    </section>
</main>