<%- include("../partials/hero") %>

<% if (locals.error) { %>
    <p class="error"><%= locals.error %></p>
<% } %>

<main class="main--game">
    <%- include("../partials/sidebar", { genre }) %>
    <section class="game-details">
        <section class="game-details__left">
            <h1 class="game-details__left__title"><%= product.title %></h1>
            <figure class="game-details__left__fig">
                <img src="<%= product.img_path %>" alt="<%= product.title %> cover art" class="game-details__left__img">
            </figure>
            <p class="game-details__left__desc"><%= product.description %></p>
        </section>
        <section class="game-details__right">
            <ul class="game-details__right__list list--top">
                <li class="game-details__right__list__item">Details</li>
            </ul>
            <ul class="game-details__right__list list--bottom">
                <li class="game-details__right__list__item">Genre: <span><%= product.genre %></span></li>
                <li class="game-details__right__list__item">New <span>$<%= product.price %></span></li>
                <li class="game-details__right__list__item">Rating here...</li>
            </ul>
            <% if (isLoggedIn) { %>
                <form action="" class="game-details__right__form">
                    <label class="game-details__right__form__label">Rate this game</label>
                    <select name="rating" id="game-rating" class="game-details__right__form__select">
                        <option value="5" class="game-details__right__form__option">5 Stars</option>
                        <option value="4" class="game-details__right__form__option">4 Stars</option>
                        <option value="3" class="game-details__right__form__option">3 Stars</option>
                        <option value="2" class="game-details__right__form__option">2 Stars</option>
                        <option value="1" class="game-details__right__form__option">1 Star</option>
                    </select>
                    <button class="game-details__right__form__submit">Submit</button>
                </form>
            <% } %>
            <a href="/add-to-cart/<%= product._id %>" class="game-details__add-btn">Add to Cart</a>
            <% if (isLoggedIn) { %>
                <% if (currentUser.admin) { %>
                    <form method="POST" action="/games/<%= product._id %>?_method=DELETE" class="game-details__delete">
                        <button type="submit" class="game-details__delete-btn">Delete Game</button>
                    </form>
                <% } %> 
            <% } %>
        </section>
    </section>
</main>